<div class="container">
  <h1>New Game</h1>
  <div class="letters">
    <% @letters.each do |letter| %>
      <div class="letter"><%= letter %></div>
    <% end %>
  </div>
  <form action="/score" method='post'>
    <input type="text">
    <input type="submit">
  </form>
</div>

